on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on early-init && property:ro.boot.hwc=CN
    setprop ro.miui.build.region cn

on early-init && property:ro.boot.hwc=Global
    setprop ro.miui.build.region global

on early-init && property:ro.boot.hwc=India
    setprop ro.miui.build.region in

on early-init && property:ro.boot.hwc=Japan
    setprop ro.miui.build.region jp

on early-init && property:ro.product.model=A401XM
    setprop ro.vendor.nfc.wallet_fusion 0

on early-init && property:ro.product.device=river
    setprop persist.vendor.nfc.factory.fwstatus unknown
    setprop ro.vendor.nfc.repair 1
    setprop ro.vendor.nfc.wallet_fusion 1
    setprop ro.vendor.nfc.dispatch_optim 1

on early-init && property:ro.product.device=XIG03
    setprop ro.vendor.nfc.repair 1
    setprop persist.vendor.nfc.factory.fwstatus unknown

on early-boot
    chown system system /sys/class/leds/vibrator/vmax_mv
    chmod 0600 /sys/class/leds/vibrator/vmax_mv

on property:persist.sys.xtra-daemon.enabled=*
    restart loc_launcher

# Set the swappiness value
write /proc/sys/vm/swappiness 40

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

# Set by libinit on boards with NFC
on property:ro.boot.product.hardware.sku=*
    start vendor.nfc_hal_service

# Enable WLAN SSR recovery
on property:persist.vendor.ssr.restart_level=ALL_ENABLE
    write /sys/kernel/cnss/recovery 1

# Disable WLAN SSR recovery
on property:persist.vendor.ssr.restart_level=ALL_DISABLE
    write /sys/kernel/cnss/recovery 0	
